[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"

[dev-packages]
py-mon = "*"

[requires]
python_version = "3.11"

[scripts]
compile = "python -m grpc_tools.protoc --proto_path=. --python_out=./python --pyi_out=./python --grpc_python_out=./python grpcmicro.proto"
start = "pymon ./python/server.py"